<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{#title}}{{.}}{{/title}}</title>
</head>
<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sign Out"/>
</form>